#main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}
#topcard{
    display: flex;
    gap: 2rem;
    border-radius: 1rem;
    overflow: hidden;
    border: 0.1rem solid rgba(0, 0, 139, 0.253);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tabview{
    padding: 1rem;
    border: 0.1rem solid rgba(0, 0, 139, 0.266);
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: rgb(249, 249, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#bar{
    display: flex;
    gap: 0.5rem;
}
.tbtn{
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgba(8, 0, 255, 0.321);
    color: rgb(255, 255, 255);
    transition: 0.1s;
    cursor: pointer;
    /* background-color: rgba(2, 2, 97, 0.221); */
    /* border-bottom: 0.2rem solid darkblue; */
}
.tab{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-top: 1rem;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}
#add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.1rem solid rgba(0, 0, 139, 0.244);
    border-radius: 1rem;
    padding: 1rem;
    height: fit-content;
}
#price{
    font-size: xx-large;
}
#atc{
    padding: 1rem;
    cursor: pointer;
    font-size: large;
    background-image: linear-gradient(to top left, rgb(76, 0, 255), rgb(0, 255, 247));
    color: aliceblue;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#tab2{
    display: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 71);
}
#tab3{
    display: none;
}
.popup{
    display: none;
    flex-direction: column;
    border-radius: 1rem;
    width: fit-content;
    position: absolute;
    gap: 0.5rem;
    background-color: transparent;
    backdrop-filter: blur(1rem);
    padding: 1rem;
    box-shadow: 0.1rem 0.2rem 4rem rgba(0, 0, 0, 0.37);
    overflow: hidden;
    animation: grow 0.3s ease;
}
@keyframes grow {
    from{
        height: 0;
    }
    to{
        height: 10rem;
    }
}
#fdet{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    cursor: pointer;
}
.cb{
    transform: scale(1.8);
    margin:1rem;
}
.cb:checked{
    accent-color: rgb(0, 2, 130);
}
#fbtns{
    display: flex;
    
}
.fbtn{
    padding: 0.6rem;
    border-radius: 0.6rem;
    transition: 0.3s;
    cursor: pointer;
}
#ap{
    margin-left: auto;
    justify-self: flex-end;
    background-color: rgba(0, 197, 0, 0.267);
    color: rgb(0, 70, 11);
}
#ap:hover{
    background-color: rgb(0, 129, 19);
    color: rgb(255, 255, 255);
}
#cl{
    background-color: rgba(255, 0, 0, 0.251);
    color: rgb(255, 0, 0);
}
#cl:hover{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
}

#sdet{
    display: flex;
}
#ic{
    width: 4rem;
}
.date{
    display: inline-flex;
    padding: 0.5rem;
    margin: 0.3rem;
    border-radius: 0.5rem;
    height: fit-content;
    background-color: #ddd;
}
.sdeti{
    display: flex;
    gap: 0.3rem;
    align-items: center;
}
#stitle{
    display: flex;
    padding: 0.5rem;
    align-items: center;
}
#stitle span {
    justify-self: flex-end;
    margin-left: auto;
}
#loc{
    margin: auto;
    width: 25rem;
    justify-self: center;
}
#duration{
    margin-right: auto;
    justify-self: flex-start;
}
#smic{
    width: 2.5rem;
}
.contentitems{
    display: flex;
    align-items: center;
    margin: 0.5rem;
    gap: 0.5rem;
}
.boldsp{
    font-weight: bold;
}
.options{
    scale: 0.7;
}
#option:hover{
    background-color: rgba(0, 0, 255, 0.277);
}